# Database
POSTGRES_URL="postgresql://username:password@localhost:5432/runit"

# Next.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"

# Vercel (for production)
# POSTGRES_URL="postgresql://..." 